footer.footer
  .superbloom
    .container
      .lifeline
        .lifeline__tags
          p @superbloom.health
          p If you’re experiencing a clinical emergency and need immediate help, call 911 or go to the nearest emergency room.
        img(src="./assets/imgs/8888.svg", alt="888")
        .lifeline__media
          p Terms & Conditions | Privacy Policy
          p National Suicide Prevention Lifeline: 800-273-8255
          p Crisis Text Line: Text HOME to 741741