header.header 
        .container--full
                .menu
                        a(href="./index.pug") 
                                img.menu__img(src="./assets/imgs/logo.svg", alt="logo")
                        .menu__navigation 
                                a(href="#") FORUM
                                a(href="#") EVENTS
                                a(href="#") THERAPY 
                                a(href="#") JOURNAL                                          
                                button.menu__button1 LOGIN
                                button.menu__button2 Sign Up FOR THERAPY

        