header.header 
        .container
                .menu
                        a(href="./index.pug") 
                                img.menu__img(src="./assets/imgs/logo.svg", alt="logo")
                        .menu__navigation 
                                a(href="#") FORUM
                                a(href="#") EVENTS
                                a(href="#") THERAPY 
                                a(href="#") JOURNAL                                          
                                button LOGIN
                                button Sign Up FOR THERAPY

        