main.main
  .hero
    .container
      .hero__section
        img(src="./assets/imgs/girls.png", alt="girls")
        .hero__text
          h1 Greatness is within us.
          p Superbloom provides a holistic mind-body approach to mental health. Together, we’ll thrive.
          p One-on-one therapy with Superbloom vetted therapists.
          p Access therapist-guided group workshops and monthly cohorts.
          p Ask questions and engage in our secure, supportive forums.
          p Discover the biopsychosocial approach to mind-body wellbeing.
          button.hero__button Learn More
  .hero.hero--bckgrnd  
    .container
      .hero__mission       
        .hero__text-mission
          h2 Mission
          p Our mental health resources are developed to encourage and bolster emotional wellness. Superbloom is here to support you feeling balanced in mind and body.
          button.hero__button Get started
        img(src="./assets/imgs/eyes.png", alt="eyes")