main.main
  .hero
    .container
      .hero__section
        img(src="./assets/imgs/girls.png", alt="girls")
        .hero__text
          h1 Greatness is within us.
          p Superbloom provides a holistic mind-body approach to mental health. Together, we’ll thrive.
          p One-on-one therapy with Superbloom vetted therapists.
          p Access therapist-guided group workshops and monthly cohorts.
          p Ask questions and engage in our secure, supportive forums.
          p Discover the biopsychosocial approach to mind-body wellbeing.
          button.hero__button Learn More
  .hero.hero--blue  
    .container
      .hero__mission       
        .hero__text-mission
          h2 Mission
          p Our mental health resources are developed to encourage and bolster emotional wellness. Superbloom is here to support you feeling balanced in mind and body.
          button.hero__button Get started
        img(src="./assets/imgs/eyes.png", alt="eyes")
  .hero.hero--orange
    .container
      .hero__mind
        img(src="./assets/imgs/mindgirl.png", alt="girls")
        .hero__text-mind
          h2 Your mind is unique. Your mental health care should be too.
          p Superbloom provides one-on-one therapy sessions geared toward your specific needs, letting you select your package based on number of sessions and budget. We are community-oriented and offer mind-body resources with articles, forums and workshops to support your journey of finding your frequency. Whether you suffer from anxiety, depression, a chronic condition or are seeking to elevate your emotional wellness, you’ll find a way to shine with Superbloom.
          button.hero__button Join the conversation
  